pip
git+https://gitlab.com/mattia.basaglia/tgs@master
pip
aiofiles
aiohttp-jinja2
aria2p
asciimatics
async_generator
async-timeout
asyncurban
attrs
babel
dnspython
beautifulsoup4
bs4
cachetools
cairosvg
certifi
cffi
cfscrape
chardet
coffeehouse
cowpy
cryptg
dialog-py
dialogs
emojis
ffmpeg
ffmpeg-python
future
future-fstrings
gitdb2
gitpython
gtts
gtts-token
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
hachoir
heroku
heroku3
hexsticker
httplib2
idna
loguru
meval
multidict
oauthlib
pillow
psutil
psycopg2-binary
py-crypt
pyaes
pyasn1
pyasn1-modules
pybase64
pycparser
pydownload
pyfiglet
pygithub
pylast
pymongo
pymongo[srv]
pymssql<3.0
pyowm
python-barcode
utilities-package
python-dotenv
python-git
pytube
python-magic
python-sql
pythondialog
pytz
pyyandextranslateapi
qrcode
redis
regex
requests
requests-oauthlib
rsa
selenium
setuptools
simple-crypt
six
smmap2
soupsieve
speedtest-cli
spotify_token
sql
sqlalchemy
sqlHelper
sql-helper
telegraph
telethon
telethon-session-sqlalchemy
websocket-client
tgs
urbandict
uritemplate
urllib3
wcwidth
wikipedia
yandex-search
yandex-translater
yarl
aiohttp
beautifulsoup4
search-engine-parser
lxml
pyocclient
wetransferpy
pydrive
pysmartdl
oauth2client
google_images_download
humanize
googletrans
emoji
youtube-dl
