aiohttp_jinja2
aria2p
asyncurban
babel
beautifulsoup4
cairosvg
coffeehouse
cowpy
cryptg
emoji
future-fstrings
git+https://gitlab.com/mattia.basaglia/tgs@master
gitpython
gitpython
google_images_download
google-api-python-client
googletrans
googletrans
gtts
hachoir
heroku3
humanize
lyricsgenius
meval
oauth2client
pillow
pydrive
pyfiglet
pygithub
pyowm
pysmardl
pysmartdl
pythondialog
pyyandextranslateapi
search_engine_parser
selenium
speedtest-cli
telethon
wetransferpy
wikipedia
youtube-dl
