# Core
telethon
# Compatibility for 3.5
future-fstrings
# Config
pythondialog
# Heroku
heroku3
gitpython
# Translations
babel
# Eval
meval
# Web
aiohttp_jinja2
beautifulsoup4
## Modules
# Lyrics
lyricsgenius
# Speedtest
speedtest-cli
# Weather
pyowm
# Translation
pyyandextranslateapi
# Figlet rendering (mock)
pyfiglet
# Animated stickers
git+https://gitlab.com/mattia.basaglia/tgs@master
# TTS
gtts
hachoir
# Updater
gitpython
# Lydia
coffeehouse
# UrbanDictionary
asyncurban
# Google Search
cryptg
cairosvg
Pillow
google_images_download
pySmartDL
aria2p
selenium
pygithub
wikipedia
emoji
googletrans
google-api-python-client
search_engine_parser
cowpy
youtube-dl
